allow hal_sensors_default iiosensor_vendor_data_file:dir create_dir_perms;
allow hal_sensors_default iiosensor_vendor_data_file:file create_file_perms;
