set_prop(postinstall, ota_prop)
recovery_only(`
  allow postinstall rootfs:file rx_file_perms;
')

allow postinstall vendor_shell_exec:file rx_file_perms;
allow postinstall vendor_toolbox_exec:file rx_file_perms;
allow postinstall vendor_file:file rx_file_perms;
allow postinstall rootfs:dir { write add_name create mounton };
allow postinstall self:capability { sys_admin };
allow postinstall vfat:filesystem { mount unmount };
allow postinstall vfat:dir { write add_name search };
allow postinstall vfat:file { create write open getattr };
allow postinstall block_device:dir { search };
