#
# rfkill
# domain and exec types only. Need to refactor between autodetect and rfkill
# mixin. Seems to be some weird dependency chanin on this.
# For not, just handle the fc labels between the mixins and have this type
# global.
#
type rfkill, domain;
type rfkill_exec, exec_type, file_type;
init_daemon_domain(rfkill)

# devices
allow rfkill rfkill_device:chr_file rw_file_perms;

# its a shell script, so in order to run the interpreter
# it needs access to shell_exec
allow rfkill shell_exec:file rx_file_perms;
