allow vendor_init self:global_capability_class_set sys_module;
allow vendor_init vendor_file:system module_load;
allow vendor_init kernel:key search;
allow vendor_init file_contexts_file:file map;
