allow vendor_init self:global_capability_class_set sys_module;
allow vendor_init vendor_file:system module_load;
allow vendor_init kernel:key search;
allow vendor_init file_contexts_file:file map;
set_prop(vendor_init, shell_prop)
allow vendor_init vfat:dir mounton;
allow vendor_init vfat:dir create_dir_perms;
allow vendor_init vfat:file create_file_perms;
