allow surfaceflinger sysfs_app_readable:file r_file_perms;
allow surfaceflinger gpu_device:dir r_dir_perms;
allowxperm surfaceflinger gpu_device:chr_file ioctl {
	DRM_IOCTL_I915_GEM_EXECBUFFER2
	DRM_IOCTL_I915_GEM_ENTERVT
	DRM_IOCTL_RADEON_IRQ_WAIT
	DRM_IOCTL_I915_GEM_THROTTLE
	VIDIOC_INT_RESET
	DRM_IOCTL_RADEON_SURF_FREE
	DRM_IOCTL_RADEON_GEM_PREAD
	DRM_IOCTL_I915_GEM_PWRITE
	DRM_IOCTL_I915_GEM_SET_DOMAIN
	DRM_IOCTL_GEM_CLOSE
	DRM_IOCTL_PRIME_FD_TO_HANDLE
	DRM_IOCTL_I915_GEM_GET_TILING
	DRM_IOCTL_I915_GEM_MMAP
	DRM_IOCTL_VERSION
	DRM_IOCTL_RADEON_FULLSCREEN
	DRM_IOCTL_GET_CAP
	DRM_IOCTL_SET_CLIENT_CAP
	DRM_IOCTL_MODE_GETPLANERESOURCES
	DRM_IOCTL_RADEON_GEM_SET_DOMAIN
	DRM_IOCTL_MODE_GETPLANE
	DRM_IOCTL_MODE_OBJ_GETPROPERTIES
	DRM_IOCTL_EXYNOS_IPP_SET_PROPERTY
	DRM_IOCTL_I915_GET_RESET_STATS
	DRM_IOCTL_I915_GEM_CONTEXT_CREATE
	DRM_IOCTL_I915_GEM_MMAP_GTT
	DRM_IOCTL_MODE_GETPROPERTY
	DRM_IOCTL_I915_GEM_WAIT
	0x6475
};
