# Rules for debug-logs specific services
type logsvc, domain;
type logsvc_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(logsvc);

userdebug_or_eng(`
  permissive logsvc;
')

dontaudit logsvc self:capability { dac_override sys_nice };
dontaudit logsvc self:capability2 syslog;

dontaudit logsvc log_file:file create_file_perms;
dontaudit logsvc log_file:dir rw_dir_perms;

dontaudit logsvc logdr_socket:sock_file write;
dontaudit logsvc logd:unix_stream_socket connectto;

dontaudit logsvc kmsg_device:chr_file { open read };
dontaudit logsvc kernel:system syslog_read;

set_prop(logsvc, ctl_default_prop)

dontaudit logsvc logsvc_exec:file execute_no_trans;

# Execute toolbox/toybox commands
 
dontaudit logsvc cache_file:dir r_dir_perms;
dontaudit logsvc cache_file:file r_file_perms;

not_full_treble(`
  dontaudit logsvc toolbox_exec:file rx_file_perms;
  dontaudit logsvc shell_exec:file rx_file_perms;
')

full_treble_only(`
  dontaudit logsvc vendor_toolbox_exec:file rx_file_perms;
  dontaudit logsvc vendor_shell_exec:file rx_file_perms;
')

