allow dumpstate block_device:blk_file getattr;
allow dumpstate config_file:dir r_dir_perms;
allow dumpstate debugfs_graphics_sync:dir r_dir_perms;
allow dumpstate kernel:system module_request;
allow dumpstate self:netlink_xfrm_socket create;
