#
# Default hal vehicle service
# oao/hardware/interfaces/automotive/vehicle
#
binder_call(hal_audio_default, hal_vehicle_default)
binder_call(hal_vehicle_default, hal_audio_default)
allow hal_vehicle_default hal_audio_hwservice:hwservice_manager find;

#
# Allow hal_vehicle_default to create socket.
# Vehicle HAL service needs to communicates with CAN devices through socketCAN.
#

allow hal_vehicle_default self:can_socket create_socket_perms;
allowxperm hal_vehicle_default self:can_socket ioctl {
  SIOCGIFINDEX
  SIOCSIFNAME
  SIOCSIFFLAGS
};

ignore_adb_debug(`hal_vehicle_default')
