typeattribute postinstall system_writes_vendor_properties_violators;
typeattribute postinstall system_executes_vendor_violators;

set_prop(postinstall, vendor_ota_prop)
recovery_only(`
  allow postinstall rootfs:file rx_file_perms;
')

allow postinstall vendor_shell_exec:file rx_file_perms;
allow postinstall vendor_toolbox_exec:file rx_file_perms;
allow postinstall vendor_default_prop:property_service set;
allow postinstall tmpfs:dir create_dir_perms;
allow postinstall tmpfs:file create_file_perms;
