typeattribute postinstall system_writes_vendor_properties_violators;
typeattribute postinstall system_executes_vendor_violators;

recovery_only(`
  allow postinstall rootfs:file rx_file_perms;
')

allow postinstall vendor_shell_exec:file rx_file_perms;
allow postinstall vendor_toolbox_exec:file rx_file_perms;
allow postinstall rootfs:dir mounton;
allow postinstall self:capability sys_admin;
allow postinstall vfat:filesystem { mount unmount };
allow postinstall vfat:dir create_dir_perms;
allow postinstall vfat:file create_file_perms;
allow postinstall block_device:dir search;
allow postinstall boot_block_device:blk_file r_file_perms;
