ignore_adb_debug(audioserver)

set_prop(audioserver, audio_prop)

userdebug_or_eng(`
  # audioserver exposes a remote debugging port

  # used for parameter framework (PFW) tuning and debug
  dontaudit audioserver fwmarkd_socket:sock_file write;
  dontaudit audioserver netd:unix_stream_socket connectto;
  dontaudit audioserver node:tcp_socket node_bind;
  dontaudit audioserver port:tcp_socket name_bind;
  dontaudit audioserver self:tcp_socket { accept bind create getopt listen read setopt write };
')

# audioserver recovery mechanism through uevent
allow audioserver self:netlink_kobject_uevent_socket { create bind setopt read };
allowxperm audioserver self:netlink_kobject_uevent_socket ioctl SIOCETHTOOL;

# Ringbuffer data files & Runtime Communication with SmartXBar data files
allow audioserver audioserver_data_file:dir rw_dir_perms;
allow audioserver audioserver_data_file:{ file fifo_file } create_file_perms;

# allow audioserver to set SCHED_FIFO for SmartXBar worker threads
allow audioserver self:capability sys_nice;
allow audioserver self:process { setsched };
