#
# hal_audio_default is provided by the base policy and mixin
# project-celadon defines the hal services.
#
# Audio uses the default implementations as defined in the product.mk:
# audio/project-celadon/product.mk:    android.hardware.audio@2.0-impl \
# audio/project-celadon/product.mk:    android.hardware.audio@2.0-service \
# audio/project-celadon/product.mk:    android.hardware.audio.effect@2.0-impl \
#
# Which can be found digging around: hardware/interfaces/audio/2.0
#

ignore_adb_debug(hal_audio_default)

allow hal_audio_default self:capability sys_nice;

allow hal_audio_default audioserver_data_file:dir create_dir_perms;
allow hal_audio_default audioserver_data_file:fifo_file create_file_perms;
allow hal_audio_default audioserver_data_file:file create_file_perms;

allow hal_audio_default dumpstate:fd use;
allow hal_audio_default dumpstate:fifo_file write;

set_prop(hal_audio_default, audiohal_prop)

allow hal_audio_default self:netlink_kobject_uevent_socket { read bind create setopt };

userdebug_or_eng(`
  # hal_audio_default exposes a remote debugging port

  # used for parameter framework (PFW) tuning and debug
  dontaudit hal_audio_default fwmarkd_socket:sock_file write;
  dontaudit hal_audio_default netd:unix_stream_socket connectto;
  dontaudit hal_audio_default node:tcp_socket node_bind;
  dontaudit hal_audio_default port:tcp_socket name_bind;
  dontaudit hal_audio_default self:tcp_socket { accept bind create getopt listen read setopt write };
')
