# graphics buffer passed to applications for screencap and rendering
#allow appdomain surfaceflinger_tmpfs:file { read write };
allow appdomain hal_graphics_allocator_default_tmpfs:file { read write map };
allow appdomain hal_graphics_composer_default_tmpfs:file { read write map };
allow appdomain gpu_device:dir r_dir_perms;
allow appdomain sysfs_app_readable:file r_file_perms;
allow appdomain app_fuse_file:file map;
